.top_sm {
  margin-top: 56px;
}
.top_md {
  margin-top: 56px;
}
.top_lg {
  margin-top: 136px;
}
.top_none {
  margin-top: 0px;
}

.primary {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}
.secondary {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}
.tertiary {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}

.screen {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_rail {
  margin-left: 72px;
}
.nav_bar {
  margin-bottom: 184px;
}

.h {
  /* min-height: 70vh; */
  z-index: 1;
}

.withPad {
  padding: var(--xl);
}
