.top_sm {
  padding-top: 56px;
}
.top_md {
  padding-top: 56px;
}
.top_lg {
  padding-top: 136px;
}
.top_none {
  padding-top: 0px;
}

.screen {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_rail {
  padding-left: 72px;
}
.nav_bar {
  padding-bottom: 84px;
}

.h {
  min-height: 100vh;
  z-index: 1;
}
