.container {
  max-width: 864px;
  margin: auto;
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
}

.with_pad {
  padding: var(--md);
  border-radius: var(--md);
}

.gap_sm {
  gap: var(--sm);
}
.gap_md {
  gap: var(--md);
}
.gap_lg {
  gap: var(--lg);
}
.gap_xl {
  gap: var(--xl);
}

.pt_sm {
  padding-top: var(--sm);
}
.pt_md {
  padding-top: var(--md);
}
.pt_lg {
  padding-top: var(--lg);
}
.pt_xl {
  padding-top: var(--xl);
}

.px_sm {
  padding-left: var(--sm);
  padding-right: var(--sm);
}
.px_md {
  padding-left: var(--md);
  padding-right: var(--md);
}
.px_lg {
  padding-left: var(--lg);
  padding-right: var(--lg);
}
.px_xl {
  padding-left: var(--xl);
  padding-right: var(--xl);
}
