.container_sm,
.container_md,
.container_lg {
  width: 40px;
  height: 40px;
  border-radius: var(--full);
  background-color: var(--primary-container);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: center;
  font-weight: 500;
  color: var(--on-primary-container);
}
.container_md {
  width: 80px;
  height: 80px;

  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  text-align: center;
  font-weight: 500;
  color: var(--on-primary-container);
}
.container_lg {
  width: 120px;
  height: 120px;

  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-align: center;
  font-weight: 500;
  color: var(--on-primary-container);
}
