.top_sm {
  margin-top: 56px;
}
.top_md {
  margin-top: 56px;
}
.top_lg {
  margin-top: 136px;
}
.top_none {
  margin-top: 0px;
}

.screen {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_rail {
  margin-left: 72px;
}
.nav_bar {
  margin-bottom: 72px;
}
